
{% extends 'newbase.html' %}
<br><br><br><br>

{% block articles %}
<div><br><br><br><br></div>

<center style="position: relative;"><h3>Checkout!!</h3></center>

<!-- product list-->

  <div id="list-example" class="list-group col-md-5 col-lg-5 col-xl-5 p-0 offset-1 best" >
    {% for order in orders %}
      <a class="list-group-item  btn-outline-danger" href="#{{ order.product.id }}" style="display: flex;
	justify-content: space-between;">
        <p style="width:100px;">{{ order.product.name }}</p>
        <p>{{ order.product.price }}</p>
         <p>{{ order.quantity }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <span>
             <i class="fa-solid fa-plus"> &nbsp;&nbsp;</i> &nbsp;
             <i class="fa-solid fa-minus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
             <i class="fa-solid fa-trash-can"></i>
           </span>
         </p>

      </a>

    {% endfor %}
    <div>
       <p class="bg-
">Total</p>
       <p></p>
    </div>

  </div>

  <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example  col-md-5 col-lg-5 col-xl-5 p-5 offset-0 best" tabindex="0" style="width: 600px; height: 500px; overflow: auto;">
     {% for order in orders %}
    <h4 id="{{ order.product.id }}" class="bg-warning">{{ order.product.name }}</h4>
      <p>{{ order.product.description }}</p>

  {% endfor %}
  </div>

<div><br><br><br><br></div>

<p class="text-center"><a href="{% url 'delete-cart' %}"><button class="btn btn-success ">Supprimer mon panier</button></a></p>

{% endblock %}







